<html>
    <head>
        <title>tu i tam</title>
    </head>

    <body>
        <div>
            <h1><a href="">Blog Kasi</a></h1>
        </div>

        <div>
            
            <h2><a href=""> Pierwszy post</a></h2>
            <p> Kilka ujęć z Malty: </p>
            <p>published: 13.03.2016 </p>
        </div>
        <div>
            
            <h2><a href=""> Drugi post</a></h2>
            <p> Meksyk </p>
            <p>published: 24.03.2015</p>
        </div>
        
    </body>

</html>